*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-purple: #491D8A;
    --dark-blue: #1A1660;
}

body {
    background: radial-gradient(54.58% 54.58% at 50% 50%, var(--dark-purple) 0%, var(--dark-blue) 100%);
    width: 100%;
    height: 100vh;
    font-family: Helvetica;
}

body > nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    height: 7.5vh;
    color: white;
    z-index: 100;
}

body > nav > button {
    background: transparent;
    border: none;
    color: white;
    font-size: 2.25rem;
    font-family: inherit;
    font-variant: small-caps;
    cursor: pointer;
}

.max {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.text-shadow {text-shadow: 0 .25rem .5rem black;}
.def-border {border: 3px solid white;}

.flex-center, .max {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {opacity: 0; pointer-events: none;}

.scorer-container {
    position: relative;
    width: 15vw;
    height: 80vh;
    background: black;
    flex-direction: column;
    justify-content: space-around;
    gap: 2.5%;
    border-radius: 1.125rem;
}

.scorer-container > * {width: 85%}

.score-number {
    height: 15%;
    border-radius: 50%;
    font-size: 7rem;
    font-weight: 700;
    box-shadow: 
    0 0 .125rem .35rem black,
    0 0 .125rem .5rem white;
    ;
    background: radial-gradient(112.82% 130.13% at 40.51% 94.82%, #FF60DC 0%, #7A47BC 30.21%, #080530 61.46%, #1F1D43 70.83%, #64627D 100%);
}

.score-jackpot {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: hidden
}

.overlays {
    position: absolute;
    inset: 20% 0 0 0;
    background: transparent;
    mix-blend-mode: overlay;
}

.overlays > * {position: absolute;}

.overlays > .main {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 90%;
    width: 70%;
    border-radius: 50%;
    background: radial-gradient(63.38% 63.38% at 50% 36.62%, rgba(255, 255, 255, 0.50) 0%, rgba(255, 238, 150, 0.50) 54.42%, rgba(81, 8, 83, 0.50) 100%);
    filter: blur(50px);
}

.vignette {
    inset: 7.5% 5% 2.5% 5%;
    background: radial-gradient(white, black)
}

.sides {
    display: flex;
    bottom: 7.5%;
    height: 20%;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
}

.sides > div {
    width: 20%;
    border-radius: 50%;
    filter: blur(20px);
    height: 100%;
    background: pink;
}

.point:not(.glow) {
    background: linear-gradient(rgba(255, 255, 255, 0.8) 0%, black 70%);
    transform: translateX(0vh);
    transition: all 1s linear;
}

.glow {
    background: radial-gradient(rgb(253, 226, 255) 0%, rgb(255, 136, 255) 20%, rgb(112, 0, 163));
    filter: blur(2.5px);
    z-index: 50;
}

